<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarterly Goals</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class = "header">
        <div class="edit-icon"> 
            <svg src = "quarterly-goals/pencil.svg">
            </svg> 
        </div>
        <div class = "header-body">
            <h1>
                Quarterly Goals
            </h1>
            <p class = "fall-text">
                Fall 2020
            </p>
        </div>
    </div>
    
    <div class = "box">
        <div class = "list-item">
            <div class = "checkbox"></div>
            <div class = "text">
                <div class = "goal">
                    Do well in algorithms class
                </div>
                <div class = "tag">
                    #class-algorithms
                </div>
            </div>
            <div class = "num">
                4 / 5
            </div>
        </div>
    </div>
   
    <h1 class = "end-add"> + Add a quarter goal </h1>

    <script src="script.js"></script>
</body>
