<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date and Time</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="time">
            8:32
            <div class="am-seconds">
                <div class="am-text">AM</div>
                <div class="seconds" id = "seconds"> 35 </div>
            </div>
        </div>
        <div class="date-text">September 27th, 2018</div>
    </div>

    <script src="script.js"></script>
</body>
</html>