#custom-box{
    width: 933.75px;
    height:100.26px;
    top:118px;
    left: 23px;
    background-color: #E1FBF9;
    border-radius:12.5px;
}

#greeting-text{
    color:#2DBDB1;
    font-size: 40px;
    line-height: 50.51px;
    font-family:'Oxygen', serif;
    padding-left:34.85px;
    padding-top:25.07px;
}